body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: relative;
  top: -10px;
  background: rgba(255, 217, 0, 0.541);
  padding: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.89);
}
.header h1,
h2 {
  margin: 10px;
  font-family: 'Bungee Inline', cursive;
}
.header h1 {
  font-size: 8vw;
}
h2 {
  font-size: 3.5vw;
  color: #444444;
}
.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -ms-box-orient: horizontal;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex li {
  background: rgba(255, 217, 0, 0.541);
  border-radius: 10px;
  border: 1.5px solid #ffffffa2;
  margin-top: 20px;
}